
.form-check-label{
    width: 60%;
    font-size: small;
}

.parent{
  position: absolute;
  width: 12rem;
  z-index: 0;
  
 

 }
 
.parent:hover + .children {
    
    transition: transform .5s ease-in-out;
    rotate: -10deg;
   

 }

.children{
   position: absolute;
   width: 15rem;
 }
   

 .image2{ 
    position:absolute;
  width: 12rem;
    z-index: 0;
    transform: rotate(-20deg);
    
 }



 .image1{
  transition: transform .3s ease-in-out;
  
}
.image1:hover {
  transform: rotate(-30deg);
}


.image2{
  transition: transform .3s ease-in-out;
  
}
.image2:hover {
  transform: rotate(30deg);
}






.test{
    display: flex;

}


