.btn-primary {

width: 20%;
    
}

.form-check-label{
    width: 60%;
    font-size: small;
}

 .images{
   position: absolute;
   width:  15rem;
 }

 .image1{
     position: absolute;
     width: 12rem;
    transform: rotate(0deg);
     z-index: 3;
 }
  
   

 .image2{
     position:absolute;
      width: 12rem;
     z-index: 2;
      transform: rotate(5deg);
    
 }

 .image3{
     width:13rem;
     position: absolute;
    transform: rotate(-10deg);
    z-index: 1;
     
 }

 .image1{
  transition: transform .3s ease-in-out;
  
}
.image1:hover {
  transform: rotate(-30deg);
}


.image2{
  transition: transform .3s ease-in-out;
  
}
.image2:hover {
  transform: rotate(30deg);
}


.image3{
  transition:  transform .3s ease-in-out;
}

.image3:hover{
  transform: rotate(20deg);
}


.test{
    display: flex;

}



