.header img {
  width: 50%;
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


@media screen and (max-width: 100%) {
  .column {
    width: 100%;
  }
}

.header {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;


}

* {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.shoppingButton {
  border: none;
  float: right;
  width: 10px;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: auto;
}




.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.card {
  border: none
}


.card-body {
  border: none;
  position: align-items-center d-flex justify-content-center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(236, 221, 221);
  text-decoration: none;
  cursor: pointer;
}


.container {
  display: flex;
  overflow: hidden;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  display: none;
  z-index: 1000;
}


.show {
  display: block;
}

h4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}

h5 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.filter-button {
  border: none
}

.unfiltered {
  border: none
}


#placeorder {
  border: none;
  float: right;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  margin-top: auto;

}

.hidden {
  display: none;
}


.column {
  flex: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn-primary {

  background-color: rgb(39, 100, 110)
}


/* [1] The container */
.img-hover-zoom {
  height: 18em;
  /* [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
  width: fit-content;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;

}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);


}